<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Argus News Letter</title>
    
</head>
<body>
    <table width="850" border="0" align="center" cellpadding="0" cellspacing="0" style="border: 1px solid #E21E22;" class="table fit-screen">
        <tr>
          <td valign="top" style="height:2px; background: linear-gradient(0deg, #E21E22, #E21E22), #2B2B2B;"></td>
        </tr>
        <tr>
          <td valign="top">
            <table width="850" border="0" cellspacing="0" cellpadding="0" class="table">
            <tr>
              <td width="29" class="hidden">&nbsp;</td>
              <td width="300" class="logo-td"><a href="https://argusnews.in/" target="_blank" style="display: flex; cursor:pointer; text-decoration:none;background-color:transparent;"><img src="http://newsletter.easysoftwares.org/image/argus_logo.png" width="200" style="height: auto; padding: 15px 0;" /></a></td>
              <td width="300" class="download-td" style="text-align: right;">
                <div style=" font-family:Verdana, Arial, Helvetica, sans-serif; padding-top: 14px; font-style:normal; font-weight:normal; font-size:14px; color:#333333; display:inline-block;"><span class=" res-p">DOWNLOAD APP</span><a target="_blank" href="https://argusnews.in/download" style="cursor:pointer; text-decoration:none; color:#333333; background-color:transparent;">
                    <img src="http://newsletter.easysoftwares.org/image/desktop_header_app_download_prompt.png" id="header-app-download-prompt" style="width:49px; height:24px; margin:-4px 0 0 10px; vertical-align:middle;"></a>
                </div>
              </td>
              <td width="371" class="social-td" style="text-align: right;">
                <div style="padding-top: 14px;display:inline-block; justify-content:space-evenly; align-items:center;">
                    <span style="font-family:Verdana, Arial, Helvetica, sans-serif; margin: auto 12px auto 30px; font-style:normal; font-weight:normal; color:#333333; font-size:14px;" class=" res-p">FOLLOW US ON</span>
                    <div style="display: inline; vertical-align: middle;">
                        <a target="_blank" href="https://www.facebook.com/argusnews.in" style="margin:0 5px 0 0; cursor:pointer; text-decoration:none; color:#333333; background-color:transparent;">
                            <img src="http://newsletter.easysoftwares.org/image/desktop_header_fb.png" class="header-social-media-icons">
                         </a>
                        <a target="_blank" href="https://twitter.com/ArgusNews_in" style="margin:0 5px 0 0; cursor:pointer; text-decoration:none; color:#333333; background-color:transparent;">
                            <img src="http://newsletter.easysoftwares.org/image/desktop_header_twitter.png" class="header-social-media-icons">
                        </a>
                        <a target="_blank" href="https://www.youtube.com/c/TheArgusNewsOdia" style="margin:0 5px 0 0; cursor:pointer; text-decoration:none; color:#333333; background-color:transparent;">
                            <img src="http://newsletter.easysoftwares.org/image/desktop_header_yt.png" class="header-social-media-icons">
                        </a>
                        <a target="_blank" href="https://argusnews.in/rss/or/feed" style="cursor:pointer; text-decoration:none; color:#333333; background-color:transparent;">
                            <img src="http://newsletter.easysoftwares.org/image/desktop_header_rss.png" class="header-social-media-icons">
                        </a>
                    </div>
                </div>
              </td>
              <td width="29" class="hidden">&nbsp;</td>
            </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center" valign="middle" background="https://files.argusnews.in/Argus_News.jpg" style="height:100px; background-position: center; background-repeat: no-repeat;"></td>
        </tr>
        <tr>
            <td valign="top"  style="padding-top: 25px;">
              <table class= "table" width="850" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="100%" valign="top" style="padding: 0 22px 10px 20px;" class="table table-pad">
                  <div>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                      <td class="top-news" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:16px; color:#000000;">
                          <a target="_blank" href="{{link1}}" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:16px; color:#000000; text-decoration:none;">

                          {% comment %} 1st news image gose here  {% endcomment %}
                            <img src="{{newsimage}}"  width="100%" style="object-fit: fill; border-radius: 6px; object-fit: cover; height: 310px;" >
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td style="font-family:Verdana, Arial, Helvetica, sans-serif; color:#000000;">
                          <a target="_blank" href="{{link1}}" style="font-family:Verdana, Arial, Helvetica, sans-serif; color:#000000; text-decoration:none;">
                            <h3 class="res-h" style="margin: 8px 0 0;">{{veriable}}</h3>
                            
                            <p id="topnews" class="res-p" style="font-size: 14px; color: #171616; letter-spacing: 0.2px; margin: 8px 0 20px; height: 70px; overflow: hidden;">
                              {{short_description}}
                             
                            </p>
                          </a>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div style="margin: 0 0 20px;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                      <td width="60%" class="second-div-img" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:16px; color:#000000; border-radius: 6px 0 0 6px;">
                          <a target="_blank" href="{{link2}}" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:16px; color:#000000; text-decoration:none;">
                            <img src="{{second_newsimage}}" height="100%" width="100%" style="display:block; object-fit: fill; border-radius:6px 0 0 6px;" >
                          </a>
                        </td>
                        <td width="40%" class="second-div-para" style="font-family:Verdana, Arial, Helvetica, sans-serif; color:#fff; background: #645f5b; padding:14px; border-radius: 0 6px 6px 0;">
                          <a target="_blank" href="{{link2}}" style="font-family:Verdana, Arial, Helvetica, sans-serif; color:#fff; text-decoration:none;">
                           <div>
                              <h3 style="margin: -3px 0 0;" class="res-h">{{second_veriable}}</h3>
                              <p id="secondnews" class="res-p" style="font-size: 14px; color: #fff; letter-spacing: 0.2px;">
                                {{description2}}
                                </p>
                            </div>
                          </a>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div style="margin: 0 0 20px;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr style="vertical-align: top;">
                       <td width="50%" class= "table last-div last-div1" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:16px; color:#fff; border-radius:6px; padding-right: 10px;">
                          <a target="_blank" href="{{link3}}" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:16px; color:#fff; text-decoration:none;">
                            <!-- <div class="img-gradient"></div> -->
                            <img src="{{third_newsimage}}" height="100%" width="100%" style="display:block; object-fit: fill; border-radius: 6px 6px 0 0;" >
                            <div style="min-height:48px; color: #fff; background: #353738; padding:10px 5px;">
                              <h4 style="margin:0">{{third_veriable}}</h4>
                            </div>
                          </a>
                        </td>
                        <td width="50%" class= "table last-div last-div2" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:16px; color:#fff; border-radius:6px; padding-left:10px;">
                          <a target="_blank" href="{{link4}}" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:16px; color:#fff; text-decoration:none;">
                            <!-- <div class="img-gradient"></div> -->
                            <img src="{{forth_newsimage}}" height="100%" width="100%" style="display:block; object-fit: fill; border-radius: 6px 6px 0 0;" >
                            <div style="min-height:48px; color:#fff; background: #353738; padding: 10px 5px;">
                              <h4 style="margin: 0;">{{forth_veriable}}</h4>
                            </div>
                          </a>
                        </td>
                      </tr>
                    </table>
                  </div>
                  
                </td>
                
                
              </tr>
            </table></td>
          </tr>
        <tr style="background: #222222; color: white; margin-top: 10px;">
            <td>
                <table>
                    <tr>
                        <td valign="top" class="footer-div" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; padding:10px;">
                            <p><strong>ABOUT THIS EMAIL</strong>        <br />
                              This is an automated email. Please do not reply directly to this email. 
                              You have received this message because you have subscribed to one of the ARGUS NEWS newsletter. 
                              <a href="javascript:;" style="text-decoration: none; color:lightgrey;">Unsubscribe</a><br />
                            </p>
                        </td>
                    
                        <td valign="top" class="footer-div res-border" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; padding:10px;">
                            Want to change your news flash alerts?<br>Copyright &copy; <script>document.write(new Date().getFullYear())</script> Argus News | Pratham Broadcast India Pvt. Ltd. | All right reserved.
                            <br>
                            <div class="footer-social">
                             <img src="https://argusnews.in/app/static/img/share_app_icon_fb.png" height="25px" style="margin: 5px 8px auto 0;">
                             <img src="https://argusnews.in/app/static/img/share_app_icon_twitter.png" height="25px" style="margin: 5px 8px auto;">
                             <img src="https://argusnews.in/app/static/img/share_app_icon_RSS.png" height="25px" style="margin: 5px 8px auto;">
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        
      </table>

</body>
</html>